<div class="{{theme}}">
  <mat-card class="{{theme}} listJeuxCard">
    <h1>Liste des jeux</h1>
    <div class="enTete">
      <div class="filtres">
        <mat-card>
          <h2>Filtrer par</h2>
        </mat-card>
      </div>
      <button mat-raised-button color="primary"  routerLink="/jeux/ajouter-jeux"
        aria-label="ajouter un jeu"
        matTooltip="ajouter un jeu">
        <a color="primary">Ajouter un jeux</a>
      </button>
      <!-- TODO: seulement pour les modérateurs -->
    </div>

    <app-liste-jeux *ngFor="let j of jeux" [inputJeux]="j"></app-liste-jeux>

    <mat-paginator
      #paginator
      [length]="5"
      [pageSize]="10"
      [pageSizeOptions]="[5,10,15,20]"
      aria-label="Select page"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card>
</div>
