<div class="{{ theme }}">
  <mat-card class="{{ theme }} JeuxCard">
    <div>
      <div class="nomImg">
        <div>
          <img
            class="gamePicture"
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="image jeu 1"
            />
        </div>
      </div>
      <div> <strong>Nom du jeu:</strong> name1 </div>
      <div> <strong>Editeur:</strong> editor1</div>
      <div class="operation">
        <strong>Opérations:</strong>
        <a mat-flat-button href="">Voir l'avis</a>
        <a mat-flat-button href="">Modifier</a>
        <a mat-flat-button href="">Téléverser l'image</a>
        <a mat-flat-button href="">Supprimer</a>
      </div>
    </div>
  </mat-card>
</div>
