<div class="avisContainer">
  <div class="avis avis{{inputAvis.id}}">
    <div class="nomImg">
      <div class="line1 gameName"> <strong>Nom du jeu:</strong> {{inputAvis.nom}} </div>
      <!-- TODO : Implémenter une image du jeu avec la note -->

        <div *ngIf="inputAvis.image.includes('.jpg')">
           <img

            class="gamePicture"
              src="./assets/img/jeuxvideos/{{inputAvis.image}}"
              alt="image jeu{{inputAvis.id}}"
            />
          </div>
        </div>
        <div class="joueurDateDesc">
          <div class="line1 column2"> <strong>Nom du joueur:</strong> {{inputAvis.auteur}}</div>
          <div class="line1 column2"><strong>Date:</strong> {{inputAvis.dateEnvoi}}</div>
          <div class="description column2">
            <strong>Description</strong>{{inputAvis.description}}
          </div>
          <div class="note"><strong>Note:</strong> {{inputAvis.note}}</div>
        </div>
        <div class="statutOperation">
          <div class="content line1 statut"><strong>Statut:</strong> {{inputAvis.statut}}</div>
          <!-- TODO: supprimer et valider seulement pour les modérateurs -->
          <div class="operation">
            <strong>Opérations:</strong>
          </div>
          <div class="btn-operation">
            <a mat-flat-button href="">Supprimer</a>
            <a mat-flat-button href="">Valider</a>
            <a mat-flat-button href="">Voir l'avis</a>
          </div>
        </div>
      </div>

    </div>

