<div class="avisContainer">
  <div class="avis avis1">
    <div class="nomImg">
      <div class="line1 gameName"> <strong>Nom du jeu:</strong> {{inputAvis.nom}} </div>
        <!-- <div>
           <img
            class="gamePicture"
              src="{{inputAvis.image}}"
              alt="image jeu 1"
            />
          </div>-->
        </div>
        <div class="joueurDateDesc">
          <div class="line1 column2"> <strong>Nom du joueur:</strong> {{inputAvis.auteur}}</div>
          <div class="line1 column2"><strong>Date:</strong> {{inputAvis.dateEnvoi}}</div>
          <div class="description column2">
            <strong>Description</strong>{{inputAvis.description}}
          </div>
          <div class="note"><strong>Note:</strong> {{inputAvis.note}}</div>
        </div>
        <div class="statutOperation">
          <div class="content line1 statut"><strong>Statut:</strong> {{inputAvis.statut}}</div>
          <!-- TODO: supprimer et valider seulement pour les modérateurs -->
          <div class="operation">
            <strong>Opérations:</strong>
            <a mat-flat-button href="">Supprimer</a>
            <a mat-flat-button href="">Valider</a>
            <a mat-flat-button href="">Voir l'avis</a>
          </div>
        </div>
      </div>

    </div>

