<div class={{theme}}>
  <mat-card class="{{theme}} jeuxCard">
    <h1> Présentation Jeux</h1>
      <!-- TODO: vue seulement pour les modérateurs -->
    <!-- <div class="">
      <div class="nomImg">
        <div>
          <img
            class="gamePicture"
              src="{{jeu.image}}"
              alt="image jeu 1"
            />
        </div>
      </div>
      <div class="jeuEditeur">
        <div class="line1 column2"> <strong>Nom du joueur:</strong> {{jeu.nom}}</div>
        <div class="line1 column2"><strong>Editeur:</strong> {{jeu.editeur}}</div>
      </div>
        <div class="operation">
          <strong>Opérations:</strong>
          <a mat-flat-button href="">Voir le jeu</a>
          <a mat-flat-button href="">Modifier</a>
          <a mat-flat-button href="">Televerser Image</a>
          <a mat-flat-button href="">Supprimer</a>
        </div>
      </div> -->
  </mat-card>
</div>
