
<div class="{{ theme }}">
  <mat-card class="{{ theme }} AvisCard">
    <h1>Liste des avis</h1>
    <!-- TODO: la page n'est accessible qu'aux personnes connectées -->
    <div class="enTete">
      <div class="filtres">
        <mat-card>
          <h2>Filtrer par</h2>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" class="home-btn-item" routerLink="/avis/ajouter-avis"
      aria-label="ajouter un avis"
      matTooltip="ajouter un avis">
      <a color="primary" class="home-btn-item-a" >Ajouter un avis</a>
      </button>
      <!-- TODO: seul les joueurs peuvent ajouter un avis -->
    </div>

    <app-liste-avis *ngFor="let a of avis |  slice: lowValue : highValue" [inputAvis]="a"></app-liste-avis>

    <mat-paginator [length]="avis.length" [pageSize]="pageSize"
    (page)="pageEvent = getPaginatorData($event)">
 </mat-paginator>
  </mat-card>
</div>


