
  <div class="jeuxContainer" #divJeu>
    <div class="jeux jeux{{inputJeux.id}}">
      <div class="nomImg">
        <img
          class="gamePicture"
            src="../assets/img/jeuxvideos/{{inputJeux.image}}"
            alt="image jeu{{inputJeux.id}}"
        />
      </div>
      <div class="nomEditeur">
        <div class="nom"> <strong>Nom du jeu:</strong> {{inputJeux.nom}} </div>
        <div> <strong>Editeur:</strong> {{inputJeux.editeur}}</div>
      </div>
      <div class="operationContainer">
        <div class="operationTitle">
        <strong>Opérations:</strong>
        </div>
        <div class="operationLink">
        <a mat-flat-button disabled="true">Voir</a>
        <a mat-flat-button disabled="true">Modifier</a>
        <a mat-flat-button  disabled="true">Téléverser l'image</a>
        <a mat-flat-button (click)="removeGame(divJeu,inputJeux.id)">Supprimer</a>
      </div>
      </div>
      </div>
  </div>
