
  <div class="jeuxContainer">
    <div class="jeux jeux{{inputJeux.id}}">
      <div class="nomImg">
        <img
          class="gamePicture"
            src="{{inputJeux.image}}"
            alt="image jeu{{inputJeux.id}}"
        />
      </div>
      <div class="nomEditeur">
        <div class="nom"> <strong>Nom du jeu:</strong> {{inputJeux.nom}} </div>
        <div> <strong>Editeur:</strong> {{inputJeux.editeur}}</div>
      </div>
      <div class="operationContainer">
        <div class="operationTitle">
        <strong>Opérations:</strong>
        </div>
        <div class="operationLink">
        <a mat-flat-button href="">Voir l'avis</a>
        <a mat-flat-button href="">Modifier</a>
        <a mat-flat-button href="">Téléverser l'image</a>
        <a mat-flat-button href="">Supprimer</a>
      </div>
      </div>
      </div>
  </div>
