<div class="{{theme}} connexionDiv">
  <mat-card class="{{theme}} inscriptionCard">
    <form
      class="myForm"
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="onSubmit()"
      #f="ngForm"
      novalidate>
      <fieldset class="formField">
      <legend>Inscription</legend>
      <p>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label for="pseudo">Indiquez un pseudo</mat-label>
          <input matInput
          placeholder="pseudo"
          name="pseudo"
          [(ngModel)]="form.username"
          class="form-control"
          minlength="3"
          maxlength="20"
          #username="ngModel"
          required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors?.['required']">Le pseudo est obligatoire</div>
            <div *ngIf="username.errors?.['minlength']">
              Le pseudo doit avoir au moins 3 caractères
            </div>
            <div *ngIf="username.errors?.['maxlength']">
              Le pseudo peut faire 20 caractères maximum
            </div>
          </div>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label>Entrez votre email</mat-label>
          <input matInput
            placeholder="ceci-est-un@example.com"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            type="email"
            email
            #email="ngModel">
          <!-- <mat-error color="accent" *ngIf="!email.valid">Cet email est invalide</mat-error>
          <mat-error color="accent" *ngIf="email.hasError('required')">L'email est requis</mat-error> -->
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors?.['required']">L'email est obligatoire</div>
            <div *ngIf="email.errors?.['email']">
              L'email doit être valide
            </div>
          </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label for="dob">Entrez votre date de naissance</mat-label>
          <input matInput
          [matDatepicker]="dateNaissance"
          name="dateNaissance"
          class="form-control"
          placeholder="Selectionner une date"
          [max]="tomorrow"
          readonly
          required>
          <mat-datepicker-toggle matSuffix [for]="dateNaissance"></mat-datepicker-toggle>
        <mat-datepicker #dateNaissance></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-group" appearance="fill" >
          <mat-label for="password">Entrez votre mot de passe</mat-label>
            <input matInput
            required
            placeholder=" Indiquez un mot de passe"
            [type]="hide ? 'password' : 'text'"
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            minlength="6"
            #password="ngModel"
            #password1
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <mat-error> *ngIf="password.errors?.['required']">Le mot de passe est obligatoire</mat-error>
              <mat-error> *ngIf="password.errors?.['minlength'] && !password.errors?.['required']">
                Le mot de passe doit avoir 6 caractères
              </mat-error>
            </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-group" appearance="fill" >
          <mat-label for="confirmPassword">Confirmez votre mot de passe</mat-label>
            <input matInput
            required
            placeholder="Confirmez votre mot de passe"
            [type]="hide ? 'confirmPassword' : 'text'"
            type="password"
            class="form-control"
            name="confirmPassword"
            [(ngModel)]="form.confirmPassword"
            require
            #confirmPassword="ngModel"
            #password2
            (keyup)=checkPasswordMismatch(password1,password2)
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <!-- <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match</mat-error> -->
            <mat-error *ngIf="checkPasswordMismatchPassword">Passwords don't match</mat-error>
          </div>
        </mat-form-field>
      </p>
        <!-- <div *ngIf="!myForm.valid">Form is invalid</div> -->
      <!-- <mat-error color="accent" class="invalidForm" *ngIf="!myForm.valid">Form is invalid</mat-error> -->
      <button  mat-raised-button color="primary" class="submitButton" type="submit" [disabled]="email.invalid" >Valider l'inscription</button>
      </fieldset>
      </form>
</mat-card>
</div>
