<div class={{theme}}>
<mat-card class="{{theme}} homeCard">
<div class="welcome">
  <p class="welcome1">Bienvenue</p>
  <p class="welcome1">chez</p>
  <p class="welcome2 welcome1">BestGameReviews</p>
  <div class="home-btn">
    <button mat-raised-button color="primary" class="home-btn-item" routerLink="/user/inscription"
        aria-label="inscription"
        matTooltip="S'inscrire">
      <a color="primary" class="home-btn-item-a" >S'inscrire</a>
    </button>
    <button mat-raised-button color="primary" class="home-btn-item" routerLink="/user/connexion"
      aria-label="connexion"
      matTooltip="Se connecter">
      <a color="primary" class="home-btn-item-a" >Se connecter</a>
    </button>
  </div>
</div>
</mat-card>
</div>
